<div id="{{ item.title }}" style="display: {{ item.style }}" >
    <div class="col s12 ">
        {% include "card_start.html" %}
        <h4 class="card-title" id="u1-{{ item.title  }}" name="main">  {{ item.question|safe }}  </h4>
        <h4 class="card-title" id="u2-{{ item.title  }}" name="alt" style="display: none"> {{ item.alternateq }} </h4><br>
        {% include "button_list.html" %}
        <h3><i class="activator small material-icons">info_outline</i></h3>
        {% include "help.html" %}
    </div>
</div>
