  <body>
    <div class="header">
		<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
			<a class="pure-menu-heading" href="">GBLS Intake</a>

			<ul>
				<li class="pure-menu-selected"><a href="#" onclick="Materialize.toast('How about we try that again!', 4000)">Reset Form</a></li>
				<li class="pure-menu-selected"><a href="#" onclick="rf()">Save Form</a></li>
			</ul>
		</div>
	</div>

{#      <a href="{{ url_for('logout') }}">log out</a>#}


	<div class="splash-container">
		<div class="splash">
			<h1 class="splash-head">Greatest Boston Legal Services</h1>
			<p class="splash-subhead">
				A Bankruptcy Project by Developing Justice.
			</p>
			<p>
				<a class="pure-button pure-button-primary" id="start_button">Let's Get Started</a>
			</p>
		</div>
	</div>